<!-- Social Links -->
<div id="socials" class="col-12 my-1 mb-4">
	<h1>Social Links</h1>
	<a
		class="btn text-white mb-1"
		style="background-color: #333333"
		href="https://github.com/sebmandal"
		role="button"
		><i class="bi bi-github me-3"></i>Github</a
	>
	<a
		class="btn text-white mb-1"
		style="background-color: rgb(58, 71, 255)"
		href="https://twitter.com/sebmandal"
		role="button"
		><i class="bi bi-twitter me-3"></i>Twitter</a
	>
	<a
		class="btn text-white mb-1"
		style="background-color: rgb(131, 91, 39)"
		href="https://instagram.com/sebmandal"
		role="button"
		><i class="bi bi-instagram me-3"></i>Instagram</a
	>
	<a
		class="btn text-white mb-1"
		style="background-color: rgb(116, 116, 116)"
		href="mailto:sebastian.mandal@icloud.com"
		role="button"
		><i class="bi bi-envelope me-3"></i>Email</a
	>
</div>
<!-- End -->

<!-- Codeblock script -->
<script src="/js/prism.js"></script>
