<nav class="row px-3 pt-3 text-center">
	<div
		class="
			d-flex
			flex-wrap
			align-items-center
			justify-content-center
			text-center text-left
		"
	>
		<a href="/">
			<img
				src="/img/logo.svg"
				width="125"
				height="125"
                style="max-height: 125px; aspect-ratio: 1/1;"
			></img>
		</a>
	</div>

    <div class="col-md-12 my-3">
        <a class="text-reset mx-1" href="/">Home</a>
        <a class="text-reset mx-1" href="/blog">Blog</a>
    </div>

	<hr />
</nav>
