<header class="px-3 pt-3">
	<div
		class="
			d-flex
			flex-wrap
			align-items-center
			justify-content-center
			text-center text-left
		"
	>
		<a href="">
			<img
				id="navbar-brand"
				src="/img/logo.svg"
				height="125"
				width="125"
				alt="logo"
			/>
		</a>
	</div>
	<hr />
</header>
