<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./partials/head.ejs") %>
		<title>sebmandal</title>
	</head>
	<body class="container-md">
		<%- include("./partials/nav.ejs") %>
		<div class="row">
			<!-- 404 error page -->
			<div class="col-md-6">
				<img
					class="w-100"
					src="/img/illustration/undraw_road_sign_mfpo.svg"
					alt="lost_illustration"
					height="500"
				/>
			</div>
			<div
				class="
					col-md-6
					lost-text-container
					d-flex
					align-items-center
					justify-content-center
				"
			>
				<div class="text-center text-md-start">
					<h1>Are you lost?</h1>
					<br />
					<a href="/" class="link text-reset"
						>Head back to the home page by pressing this text</a
					>
				</div>
			</div>
		</div>

		<hr />

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
