@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* Core */

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Playfair Display", Times, serif !important;
	font-size: clamp(20px, 1.33vw, 28px) !important;
	background-color: #f6f6f1 !important;
}

header {
	font-size: 1.33em;
}

[contenteditable] {
	outline: 0px solid transparent;
}

/* About Me Section */

#about {
	font-size: 1.33rem;
}

/* Links */

.link:hover {
	color: #666 !important;
}

.link-unstyled,
.link-unstyled:hover {
	font-style: inherit;
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	font-variant: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-family: inherit;
	border-radius: inherit;
	border: inherit;
	outline: inherit;
	box-shadow: inherit;
	padding: inherit;
	vertical-align: inherit;
}

/* Timeline */

ul.timeline {
	list-style-type: none;
	position: relative;
	padding-left: 1.5rem;
	font-size: 18px;
}

ul.timeline:before {
	content: " ";
	background: #545454;
	display: inline-block;
	position: absolute;
	left: 16px;
	width: 4px;
	height: 100%;
	z-index: 400;
	border-radius: 1rem;
}

li.timeline-item {
	margin: 20px 20px;
}

.timeline-arrow {
	border-top: 0.5rem solid transparent;
	border-right: 0.5rem solid rgb(49, 49, 49);
	border-bottom: 0.5rem solid transparent;
	display: block;
	position: absolute;
	left: 2rem;
}

li.timeline-item::before {
	content: " ";
	background: rgb(255, 255, 255);
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid rgb(49, 49, 49);
	left: 11px;
	width: 14px;
	height: 14px;
	z-index: 400;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Flexbox items that grow when you hover over them */

.flexbox-item-grow-on-hover {
	margin: 0 auto;
	width: 100%;
	min-height: 200px;
	/* border: 1px solid lighten(black, 10); */
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.grow-item {
	flex-grow: 1;
	height: 200px;
	background-size: cover;
	position: relative;
	/* border: 1px solid lighten(black, 10); */
	transition: all 1000ms cubic-bezier(0.68, -0.45, 0.365, 1.55);
	overflow: hidden;
}

.grow-item:hover {
	flex-grow: 3;
}

.grow-item p {
	display: none;
}

.grow-item:hover p {
	display: block;
}

.grow-item:before {
	content: attr(content);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

@media (max-width: 768px) {
	.grow-item {
		min-width: 100%;
	}

	.grow-item:before {
		content: attr(content-mobile);
	}
}
